
.DS_Store
armadillo-9.200.7/.DS_Store
armadillo-9.200.7/.DS_Store
.ipynb_checkpoints/Curve Viz-checkpoint.ipynb
.vscode/settings.json
armadillo-9.200.7/.DS_Store
armadillo-9.200.7/.DS_Store
Curve Viz.ipynb
armadillo-9.200.7/.DS_Store
armadillo-9.200.7/.DS_Store
