
.DS_Store
armadillo-9.200.7/.DS_Store
armadillo-9.200.7/.DS_Store
.ipynb_checkpoints/Curve Viz-checkpoint.ipynb
.vscode/settings.json
armadillo-9.200.7/.DS_Store
armadillo-9.200.7/.DS_Store
Curve Viz.ipynb
armadillo-9.200.7/.DS_Store
armadillo-9.200.7/.DS_Store
Curve/.ipynb_checkpoints/Curves-checkpoint.ipynb
Curve/1_test_acc.csv
Curve/1_test_mse.csv
Curve/1_train_acc.csv
Curve/1_train_mse.csv
Curve/2_test_acc.csv
Curve/2_test_mse.csv
Curve/2_train_acc.csv
Curve/2_train_mse.csv
Curve/3_test_acc.csv
Curve/3_test_mse.csv
Curve/3_train_acc.csv
Curve/3_train_mse.csv
Curve/4_test_acc.csv
Curve/4_test_mse.csv
Curve/4_train_acc.csv
Curve/4_train_mse.csv
Curve/Curves.ipynb
Curve/monks_conf_1.png
Curve/monks_conf_2.png
Curve/monks_conf_3.png
Curve/monks_conf_4.png
